<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970978420457-rslftmhhpd8n7mv02dthu1etu1dnkp6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970978420457-rslftmhhpd8n7mv02dthu1etu1dnkp6a</string>
	<key>API_KEY</key>
	<string>AIzaSyC88ijAuvN6_SzQi-w5s4rVjqwteZSCDr0</string>
	<key>GCM_SENDER_ID</key>
	<string>970978420457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kingu.myFlutterAppTemplate.stg</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-app-template-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-app-template-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970978420457:ios:b7ecc1d711f47cd3bfb278</string>
</dict>
</plist>